body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(236, 252, 253);
}

h1 {
  text-align: center;
  margin: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 40rem;
  margin: auto;
  background-color: rgb(246, 250, 255);
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  /* overflow: hidden; */
}

label {
  color: rgb(66, 76, 97);
  display: block;
  margin: 0.5rem 0;
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid rgb(152, 159, 184);
  width: 100%;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  background-color: rgb(217, 227, 247);
}

textarea {
  resize: none;
}

.flex-radio,
.flex-radio-checkbox {
  display: flex;
}
.flex-radio-checkbox {
  margin-top: 10px;
}
.flex-radio input,
.flex-radio-checkbox input[type="checkbox"] {
  width: auto;
  margin-right: 0.5rem;
}

#buttons {
  display: flex;
  justify-content: flex-end;
}

button {
  font: inherit;
  border: 1px solid rgb(51, 67, 100);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  margin: 0.2rem;
}

button:hover {
  cursor: grab;
}

#btn-submit {
  background-color: rgb(51, 67, 100);
  color: white;
}

#btn-submit:hover {
  background-color: rgb(69, 89, 129);
  border-color: rgb(69, 89, 129);
}

#btn-reset {
  background-color: transparent;
  color: rgb(51, 67, 100);
}

#btn-reset:hover {
  background-color: rgb(208, 215, 230);
}
